main {
  font-family: sans-serif;
}

main > section {
  display: grid;
  grid-template-rows: repeat(3, 150px);
  grid-template-columns: repeat(3, 150px);
  font-size: 6rem;
}

section > div {
  border-style: solid;
  border-color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > footer > div {
  margin-top: 10px;
  width: 450px;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}

main > footer > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.X {
  color: darkred;
}

.O {
  color: darkblue;
}

.bold {
  font-weight: bold;
}

div[data-coords="0-0"] {
  border-width: 0 5px 5px 0;
}

div[data-coords="0-1"] {
  border-width: 0 5px 5px 5px;
}

div[data-coords="0-2"] {
  border-width: 0 0 5px 5px;
}

div[data-coords="1-0"] {
  border-width: 5px 5px 5px 0;
}

div[data-coords="1-1"] {
  border-width: 5px;
}

div[data-coords="1-2"] {
  border-width: 5px 0 5px 5px;
}

div[data-coords="2-0"] {
  border-width: 5px 5px 0 0;
}

div[data-coords="2-1"] {
  border-width: 5px 5px 0 5px;
}

div[data-coords="2-2"] {
  border-width: 5px 0 0 5px;
}


